{erl_opts, [
{parse_transform, lager_transform}
    ]}.
{deps, [
  jiffy,
  {uuid, {git, "https://github.com/okeuday/uuid.git", {branch, "master"}}},
  hackney,
  lager
  ]}.

{eunit_opts, [export_all]}.% same as options for eunit:test(Tests, ...)
{eunit_tests, []}. % same as Tests argument in eunit:test(Tests, ...)
{eunit_compile_opts, [
{i, "include"},{sys_config, "config/shell.config"}]}.
{cover_enabled, true}.
{ct_opts, [{sys_config, "./config/shell.config"}]}.

{relx, [{release, {consulerl, "0.1.0"},
         [consulerl,
          sasl]},

        {mode, dev},

        %% automatically picked up if the files
        %% exist but can be set manually, which
        %% is required if the names aren't exactly
        %% sys.config and vm.args
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"}

        %% the .src form of the configuration files do
        %% not require setting RELX_REPLACE_OS_VARS
        %% {sys_config_src, "./config/sys.config.src"},
        %% {vm_args_src, "./config/vm.args.src"}
]}.

{profiles, [
 {test, [{erl_opts, [{d, 'TEST'},nowarn_export_all, export_all]},
          {shell, [{config, "config/shell.config"}]},
          {deps, [meck, sync]}]}, 
  {prod, [{relx,
                     [%% prod is the default mode when prod
                      %% profile is used, so does not have
                      %% to be explicitly included like this
                      {mode, prod}

                      %% use minimal mode to exclude ERTS
                      %% {mode, minimal}
                     ]
            }]}]}.