[
  {consulerl, [
    {hostname, "127.0.0.1"},
    {port, 8500},
    {acl, []} %% this should be a string or a tuple {strig() | atom(), string()}  it will default to {acl, ""} as is
  ]},

  {sasl, [
    {sasl_error_logger, {file, "logs/sasl.log"}}
  ]},

  {lager, [
    {colored, true},
    {async_threshold, 200},
    {async_threshold_window, 5},
    {error_logger_hwm, 500},
    {crash_log, "logs/crash.log"},
    {handlers, [
      {lager_console_backend,
        [debug,
          {lager_default_formatter,
            [
              color, time, " [", severity, "]",
              " [", {module, ""}, ":", {function, ""}, ":", {line, ""}, "] ",
              message, "\e[0m\n"
            ]
          }
        ]
      }
    ]}
  ]},

  {sync, [
    {growl, all},
    {log, all},
    {non_descendants, fix},
    {executable, auto},
    {whitelisted_modules, []},
    {excluded_modules, []}
  ]}
].
